@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');


$fuente-roboto: 'Roboto', sans-serif;

.clima-box-total { 
    padding: 16px;
	//border-bottom: 3px solid rgb(219, 219, 219);
	// height: 22vh;
    display: flex;
    flex-direction: column;

	border-radius: 15px;
	box-shadow: 8px 8px 15px #cbced1, -8px -8px 15px #ffffff;
	transition: box-shadow 0.3s ease-in-out;
    width: 95%;
    margin: auto;
	background-color: #f0f0f06b;
	max-width: 600px;

	&:hover { 
		box-shadow: 5px 5px 10px #cbced1, -5px -5px 10px #ffffff;
	}

	.clima-wrapper { 
        display: flex;
        align-items: center;
		//
		font-size: 14px;
		justify-content: space-evenly;

		.icon-temperature-container {
			display: flex;

			.icon-clima { 
			//   margin-left: 22px;
				img { 
					width: 4.37em;
	
				}
			}
	
			.temp-container { 
				  display: flex;
				  margin-top: 4px;
				.number { 
					font-size: 2.27em;
					font-weight: 500;
					color: #db9426;
				}
	
				.celsius { 
					font-size: 1.56em;
					align-self: center;
					margin-bottom: 15px;
					color: #db9426;
				}
			}
		}

		.pronostico {
			// margin-left: auto;
			// margin-right: 15px;
			margin-bottom: 12px;
			font-size: 14px;
			//
			h4 {
              text-transform: capitalize;
			  font-size: 1.25em;
			  font-weight: 500;
			  font-family: $fuente-roboto;
			}
		}
	}
}