.parametro-total { 
    display: flex;
    flex: 1;
	.wrapper-parametros { 
      //  margin-top: auto;
        margin-top: 33px;
        display: flex;
        justify-content: space-around;
        flex: 1;
        ///
        font-size: 14px;
		span { 
           font-size: 1em;
		}
	}
}


